.container{
    width: 80%;
    margin: 0 auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
	font-size: 14px;
}
.btn{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
	background: #316aff;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}
header{
    background-color: #141618;
}
header .container{
	display: flex;
	align-items: center;
	height: 60px;
}
header .logo{
	margin-right: 40px;
}
header .menu ul li a{
	color: rgba(255, 255, 255, .6);
	display: flex;
	height: 60px;
	font-size: 13px;
	align-items: center;
}

header .menu ul li a i{
	margin-right: 10px;
}
header .menu ul li a:hover{
	color: #fff;
}
header .search{
	display: flex;
	overflow: hidden;
	margin-left: auto;
	margin-right: 15px;
}
header .search input{
	height: 34px;
	width: 250px;
	background: #21252d;
	padding: 0 10px;
}
header .search input ::placeholder{
	color: rgba(255, 255, 255, .6);
}
header .search button{
	width: 32px;
	height: 34px;
	background: #21252d;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}
header .search button:hover{
	background: #316aff;
}
header .container .login-buttons ul{
	display: flex;
}
.header .login-buttons ul li a {
	display: block;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
	color: rgba(255, 255, 255, .8);
}
.header .login-buttons ul li a:hover{
	color: #fff;
}
.header .login-buttons ul li.join-button a{
	background: #36855b;
	border-radius: 4px;
}

/*BANNER SECTİON*/

.banner{
	background: linear-gradient(170deg, #212A39, #181E28);
}
.banner .container{
	height: 50vh;
	display: flex;
	padding: 70px 0;
	align-items: center;
}
.banner .container .banner-box{
	width: 50%;
	box-sizing: border-box;
	justify-content: center;
	display: block;
}
.banner .container .banner-box h3{
	font-size: 38px;
	color: #fff;
	font-weight: 500px;
	line-height: 42px;
}
.banner .container .banner-box h5{
	font-size: 20px;
	color: #B0B6BE;
	margin-top: 14px;
}
.banner .container .banner-box .btn{
	margin-top: 65px;

}
.banner .container .banner-image{
	margin-left: 100px;
	padding-bottom: 20px;
}

/* SECTION-FİRST */

.section-first{
	display: flex;
	align-items: center;
	padding: 120px 0;
}
.section-first .lang{
	display: flex;
	width: 392px;
	min-width: 392px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section-first .lang a{
	width: 184px;
	height: 184px;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
	transition: 200ms all;
}
.section-first .lang a:hover{
	transform: scale(0.65);
}
.section-first .lang a img{
	margin-bottom: 20px;
	height: 40px;
}
.section-first .lang a .title{
	font-size: 18px;
	color: #111;
}
.section-first .inner h3{
	font-size: 36px;
	color: rgba(0, 0, 0, .9);
	margin-bottom: 30px;
}
.section-first .inner{
	padding-left: 160px;
}
.section-first .inner p{
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 28px;
}

